version: '3'

services:
  client:
    build: client/
    volumes:
      - ./client:/usr/src/app
    ports:
      - 3000:3000
    restart: always
    environment:
      - CHOKIDAR_USEPOLLING=true

  server:
    build: server/
    volumes:
      - ./server:/usr/src/app
    ports:
      - 8080:8080
    restart: always

  db:
    image: mariadb:10.5
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: mydb
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
    ports:
      - 3306:3306
    restart: always

volumes:
  db_data: {}
